[Unit]
Description=Welcome Home
After=mopidy.service
Requires=mopidy.service
[Service]
Type=simple
ExecStart=/usr/local/bin/welcomehome --start /etc/welcomehome/welcomehome.conf
ExecStopPost=/usr/local/bin/welcomehome --stop
Restart=on-abort
[Install]
WantedBy=multi-user.target
