[Unit]
Description=Welcome Home
After=mopidy.service
[Service]
Type=simple
ExecStart=/usr/local/bin/welcomehome /etc/welcomehome/welcomehome.conf
Restart=on-abort
[Install]
WantedBy=multi-user.target
