[Unit]
Description=Welcome Home
After=mopidy.service
Requires=mopidy.service
[Service]
Type=simple
ExecStart=/usr/local/bin/welcomehome /etc/welcomehome/welcomehome.conf
ExecStopPost=-/bin/rm /etc/welcomehome/home.lck
Restart=on-abort
[Install]
WantedBy=multi-user.target
